* {
    padding: 0;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
div,
input {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body{
    scroll-padding-top: 90px;
    margin-top: 90px;
}

a {
    text-decoration: none;
}

/* header  */

header {
    position: fixed;
    top: 0;
    background-color: #29293d;
    height: 90px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

header ul {
    margin: 20px auto;
}

header li {
    display: inline-block;
}

header a {
    color: #f2f2f2;
    display: inline-block;
    width: 120px;
    height: 50px;
    border: solid #646d7c 1px;
    margin: 0px 20px;
    font-size: 20px;
    line-height: 50px;
    transition: background-color 0.5s;
}

header a:hover {
    background-color: #49505F;
}

/* secion #1 */

#section-1 {
    min-height: 600px;
    background: transparent;
    position: relative;
}

.section-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.section-header h1 {
    font-size: 70px;
    text-transform: uppercase;
    color: #f2f2f2;
    text-shadow: 2px 2px #000;
    font-weight: 500;
}

.section-header h2{
    font-size: 36px;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 2px 2px #aaa;
    margin-bottom: 20px;
   
}

.section-header h4 {
    font-size: 24px;
    color: #f2f2f2;
    text-shadow: 1px 1px #333;
    font-weight: lighter;
    font-weight: 500;
}

.section-header h5{
    color: #fff;
    text-transform: capitalize;
    text-shadow: 2px 2px #aaa;
    margin-bottom: 20px;
}

.section-header p{
    line-height: 1.6em;
    font-size: 18px;
}
/* section #2 */

#section-2 {
    height: auto;
    padding: 55px 0px;
    
}

#section-2 .section-container {
    display: grid;
    grid-template-columns: repeat(6, 155px); /*  use minmax!*/
    /* grid-template-rows: 1fr 2fr; */
    justify-content: center;
    align-items: start;
    grid-gap: 50px 30px; 
}

#section-2 .section-col {
    background-color: #F2F2F2;
}

.section-col img {
    max-width: 100%;
    height: auto;
}

.section-col .col-text {
    padding: 0 20px 30px 20px;
}

.section-col h3 {
    margin: 15px 0;
}

.grid-col-3 p{
    padding: 15px 0;
}

.grid-col-2 p{
    margin: 15px 0 25px 0;
}

.grid-col-3 .col-btn{
    margin-right: 50px;
}

.section-col .col-btn {
    width: 150px;
    height: 45px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.grid-col-2{
    grid-column: span 2;
}

.grid-col-3{
    grid-column: span 3;
}

/* section 3 */

#section-3{
    position: relative;
    background: transparent;
    height: 290px; 
}

/* section 4 */

#section-4{
    height:auto;
    margin: 40px;
}

#section-4 .grid-container{
    display: grid;
    grid-template-columns: repeat(4, 255px); /*  use minmax!*/
    /* grid-template-rows: 1fr 2fr;    */
    justify-content: center;
    grid-gap: 40px 40px;
}

.grid-col{
    background-color: #F2F2F2;
}

.grid-col img {
    max-width: 100%;
    height: auto;
}

.grid-col h2{
    font-size:20px;
    font-weight: 700;
    margin: 20px;
}

.col-4 h2{
    margin: 15px 25px 10px 25px;
}

.grid-col p{
    padding: 0 20px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 14px;
    line-height: 1.6em
}

.col-4 p{
    margin: 5px 5px 10px 5px;
    margin-bottom: 10px;
}

.grid-col .col-btn{
    width: 120px;
    height: 45px;
    cursor: pointer;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.col-1{
    grid-column: span 1;
    height: 500px;
}

.col-4{
    grid-column: span 4;

}

.col-4 .btn-container{
    margin: 30px 25px;
}

.col-4 .col-btn{
    width: 160px;
}


#section-5{
    position: relative;
    background: transparent;
    height: auto; 
}

.contact-container{
    /* height: 100%; */
    padding-top: 80px;
    padding-bottom: 40px;
    width: 680px;
    margin:0 auto;
}

.contact-container>h1{
    margin: 18px;
    font-weight: 500;
    text-shadow: 2px 2px #333;
}

.contact-quote{
    width: 100%;
    margin: 0 auto;
    background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
    border-radius: 5px;
    color: #000;
    margin-bottom: 20px;
    padding: 20px 15px;
    box-sizing:border-box;
}

.contact-quote p{
    font-size:16px;
    line-height: 1.6em;
}

.form-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.form-input{
    outline:none;
    border: none;
    background: rgba(242, 242, 242, 0.4);
    color: #000;
    display: block;
    height: 34px;
    width:100%;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 1.42857143;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.form-input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.form-input::placeholder{
    color: #000;
}

textarea.form-input{
    height:auto;
}

.form-right,
.form-left{
    width:100%;
}

.btn{
    background: #262628 none repeat scroll 0 0;
    color: #fff;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #262628;
    transition: all 0.3s ease;
}

.btn:hover{
    background: #E6E6E6;
    border-color: #ccc; 
    color: #262628;
}

.footer-content h3{
    color: #666;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 35px;
    font-weight:500;
}

.footer-content p{
    color: #666;
    font-style: italic;
    margin-bottom: 30px;
}

.copyright p{
    margin-top:12px;
    margin-bottom: 17px;
    font-size:14px;
    color:#666;
}

hr{
    border: 0;
    border-top: 1px solid #eee
}

/* colors */
.green-text {
    color: #178A27;
}

.blue-text{
    color:#1686C1;
}

.white-text {
    color: #FFF;
}

.grey-text{
    color: #666666;
}

.black-text{
    color: #000
}

.green-bg {
    background-color: #178A27
}

.blue-bg{
    background-color: #1686C1;
}

.red-bg{
    background-color: #852406;    
}

.white-bg{
    background-color: #FFF;
}

.col-btn.red-bg:hover{
    background: #C9302C;
}

.col-btn.blue-bg:hover{
    background:#31B0D5;
}

.col-btn.green-bg:hover{
    background: #449D44;
}

.col-btn.white-bg:hover{
    background: #E6E6E6 none repeat scroll 0 0;
}

.align-center{
    text-align: center;
}

.align-end{
    text-align: end;
}


.justify-center{ /*shit code*/
    width: 70%;
    margin:0 auto;
}