* {
    padding: 0;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
div,
input {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body{
    scroll-padding-top: 90px;
    margin-top: 90px;
}

a {
    text-decoration: none;
}

h2{
    font-size:36px;
}

h3{
    font-size: 20px;
    font-weight: 700;
}

p{
    font-size:14px;
    line-height:1.6em;
}

hr{
    border: 0;
    border-top: 1px solid #eee
}

/* generic button */
.btn{
    background: #FFF none repeat scroll 0 0;
    color: #666666;
    cursor: pointer;
    width: 120px;
    height: 45px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn:hover{
    background: #E6E6E6;
}


/* header  */
header {
    position: fixed;
    top: 0;
    background-color: #29293d;
    height: 90px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

header ul {
    margin: 20px auto;
}

header li {
    display: inline-block;
}

header a {
    color: #f2f2f2;
    display: inline-block;
    width: 120px;
    height: 50px;
    border: solid #646d7c 1px;
    margin: 0px 20px;
    font-size: 20px;
    line-height: 50px;
    transition: background-color 0.5s;
}

header a:hover {
    background-color: #49505F;
}

/* secion #1 */

#section-1 {
    min-height: 600px;
    background: transparent;
    position: relative;
}

.section-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.section-header h1 {
    font-size: 70px;
    text-transform: uppercase;
    color: #f2f2f2;
    text-shadow: 2px 2px #000;
    font-weight: 500;
}

.section-header h2{
    color: #fff;
    text-transform: capitalize;
    text-shadow: 2px 2px #aaa;
    margin-bottom: 20px;  
    font-weight: 500;
}

.section-header h4 {
    font-size: 24px;
    color: #f2f2f2;
    text-shadow: 1px 1px #333;
    font-weight: lighter;
    font-weight: 500;
}

.section-header p{
    color: #FFF;
    line-height: 1.6em;
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
}

#section-2 {
    padding: 55px 0px;
}

/* grid */
.grid{
    display:grid;
    justify-content: center;
}

#section-2 .grid{
    grid-template-columns: repeat(6, 155px);
    align-items: start;
    grid-gap: 50px 30px; 
}

#section-4 .grid{
    grid-template-columns: repeat(4, 255px);
    grid-gap: 40px 20px;
}

.grid .col-1{
    grid-column: span 1;
}

.grid .col-2{
    grid-column: span 2;
}

.grid .col-3{
    grid-column: span 3;
}

.grid .col-4{
    grid-column: span 4;
}

.grid-col {
    background-color: #F2F2F2;
    text-align:center;
    padding-bottom: 25px;
}

.grid img {
    max-width: 100%;
    height: auto;
}

.grid-col h3{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
    color: #666666;
}

.col-3 h3,
.col-1 h3{
    text-align:center;
}

.col-4 h3{
    margin-top: 30px;
}

h3.blue{
    color:#1686C1;
}

h3.green{
    color: #178A27;
}

.grid-col p{
    text-align: left;
    padding: 0 20px;
    margin-bottom: 26px;
}

.col-btn {
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
    color: #FFF;
}

.col-3 .col-btn{
    color: #666666;
    border-color: #ccc;
    float:right;
    margin-right:40px;
}

.col-4 .btn{
    width: 160px;
    float:left;
    margin-left: 20px;
}

#section-3{
    position: relative;
    background: transparent;
    height: 290px; 
}

#section-4{
    margin: 40px 0px;
}

/* section 5 */
#section-5{
    position: relative;
    background: transparent;
    height: auto; 
}

.contact-container{
    padding-top: 80px;
    padding-bottom: 40px;
    width: 680px;
    margin:0 auto;
    text-align:center;
}

.contact-container>h2{
    margin: 18px;
    color: #fff;
    font-weight: 500;
    text-shadow: 2px 2px #333;
}

.contact-quote{
    width: 100%;
    margin: 0 auto;
    background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
    border-radius: 5px;
    color: #000;
    margin-bottom: 20px;
    padding: 20px 5px;
    box-sizing:border-box;
}

.contact-quote p{
    font-size:16px;
    line-height: 1.6em;
}

.form-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 28px;
}

.form-input{
    outline:none;
    border: none;
    background: rgba(242, 242, 242, 0.4);
    color: #000;
    height: 34px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 1.42857143;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.form-input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.form-input::placeholder{
    color: #000;
}

textarea.form-input{
    height:auto;
}

.form-right{
    text-align: end;
}

.submit-btn{
    background: #262628 none repeat scroll 0 0;
    color: #fff;
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    width: 100px;
}

.submit-btn:hover{
    background: #E6E6E6;
    color: #262628;
}

/* footer */
.footer-content{
    text-align:center;
}

.footer-content h3{
    color: #666;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 35px;
    font-weight:500;
}

.footer-content p{
    color: #666;
    font-style: italic;
    margin-bottom: 30px;
}

.footer-content p{
    margin-top:12px;
    margin-bottom: 17px;
    font-size:14px;
    color:#666;
}

/* button colors */
.green-bg {
    background-color: #178A27
}

.blue-bg{
    background-color: #1686C1;
}

.red-bg{
    background-color: #852406;    
}

.btn.red-bg:hover{
    background: #C9302C;
}

.btn.blue-bg:hover{
    background:#31B0D5;
}

.btn.green-bg:hover{
    background: #449D44;
}
